<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="center">
    <thead>
        <tr><td>名称</td><td>热度</td></tr>
    </thead>
    <tbody>
    {% for data in list %}
        <tr>
            <td><a href="{{ data.url }}" target="_blank">{{ data.title}}</a></td>
            <td>{{ data.index }}</td>
        </tr>
      {% endfor%}
    </tbody>
</table>
</body>
</html>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script>

    $(function () {
         $(".delBtn").click(function () {
        var id = this.value;
        console.log(11);
        $.get("/polls/del",{id:id},function (data) {
        })
    })
    })


</script>